body{
  overflow: hidden;
}

.background {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1000;
}

audio{
  position:absolute;
  bottom:0;
  right:0;
  mix-blend-mode: lighten;
  z-index: 9000;
}

.space {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  z-index:-500;
}
.earth{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	object-fit: cover;
  opacity: 0.75;
  z-index:-100;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 0.5;
  z-index: -200;
}
.flash {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
	opacity: 0.50;
  background-repeat: no-repeat;
/*	mix-blend-mode: multiply;*/
}

.moon {
  position: absolute;
  top: 100px;
  right: 200px;
  width: 400px;
  height: 400px;
  opacity: 0.55;
  z-index:-10;
}

.planet {
  position: absolute;
  top: 50px;
  right: 700px;
  width: 220px;
  height: 220px;
  opacity: 0.7;
  z-index:-25;
}

.stars2 {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 600px;
  height: 600px;
  opacity: 0.8;
  transform: rotate(90deg);
    z-index:-50;
}

.rocket {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 400px;
  left: 200px;
  transition-property: transform;
  transform: rotate(45deg);
  z-index:-5;
}

.float{
	position:absolute;
	left:200px;
	width:50%;
	height: auto;
	transform:rotate(15deg);
  z-index:1;
}

.float-animate{
	animation: up 10s linear infinite;
}

.rocket-animate{
  transition-property: transform;
  animation: fly 7s linear infinite;
}

@keyframes fly{
  from{
    transform:translateX(-500px);
  }
  to{
    transform:translateX(2000px);
   }
}


@keyframes speed{
  from{
    transform: translateX(2000px);
  }
  to{
    transform: translateX(-1500px);
  }
}

@keyframes up{
  from{
    transform: translateY(800px);
  }
  to{
    transform: translateY(-600px);
  }
}


